{
  "servers": {
    "production": {
      "serverhost": "ftp.manchesterentrepreneurs.org.uk",
      "serverport": 21,
      "path": "me-accelerateme",
      "username": ,
      "password": 
    }
  }
}