// colors
$background--dark: #222;
//$blue: #1f8dd6; daniel
$blue: #17a7bd;
$green: #1fe27b;
$red: #e21f3f;

$light: #ecf0f1;
//$primary: #3898ea;
$primary: #17a7bd;
$secondary: #17a7bd;
//$dark: #33495f;
//$dark: #3983a8;
$dark: #176575;
//$subtle-darker: #2d3e52;
$subtle-darker: #176575;
//$alternate: #fa9135; daniel
//$alternate: #2be6da;
$alternate: #8294a3;
