<div class="standard-modal">
  <div class="modal-content">
      <h2>APPLY ONLINE</h2>
      <p>Applications have closed for the 2015/16 batch. We will reopen applications later this year for our next cohort.</p><p>Submissions will only be disclosed to the ME Advisory Board. No third party will have access to your application.</p>
      <form class="form pure-form pure-form-stacked" action="http://sendy.manchesterentrepreneurs.co.uk/subscribe" method="POST" accept-charset="utf-8">
        <fieldset>
          <label for="name">Name</label>
          <input type="text" placeholder="Name" name="name" id="name" required>
        </fieldset>

        <fieldset>
          <label for="email">Email</label>
          <input type="email" placeholder="Email" name="email" id="email" required>
        </fieldset>

        <fieldset>
          <label for="Degree">Degree</label>
          <input type="text" placeholder="Your degree" name="Degree" id="Degree" required>
        </fieldset>

        <fieldset>
          <label for="Year">Current year</label>
          <select name="Year" id="Year" required>
            <option>First</option>
            <option>Second</option>
            <option>Third</option>
            <option>Fourth</option>
            <option>Fifth</option>
          </select>
        </fieldset>

        <fieldset>
          <label for="Q1">Tell us a little about yourself and any team members.</label>
          <textarea placeholder="Max 150 words." name="Q1" id="Q1" rows="10" required></textarea>
        </fieldset>

        <fieldset>
          <label for="Q2">What problem is your business trying to solve?</label>
          <textarea placeholder="Max 150 words." name="Q2" id="Q2" rows="10" required></textarea>
        </fieldset>

        <fieldset>
          <label for="Q3">If your business didn't exist, how would people cope (i.e. what is the current alternative)?</label>
          <textarea placeholder="Max 150 words." name="Q3" id="Q3" rows="10" required></textarea>
        </fieldset>

        <fieldset>
          <label for="Q4">What advantage do you have, if any, over someone else trying to start your business?</label>
          <textarea placeholder="Max 150 words." name="Q4" id="Q4" rows="10" required></textarea>
        </fieldset>

        <fieldset>
          <label for="Q5">What is the key challenge you face in starting the business?</label>
          <textarea placeholder="Max 150 words." name="Q5" id="Q5" rows="10" required></textarea>
        </fieldset>

        <fieldset>
          <label for="Q6">How do you know there is demand for the business (i.e. your market research)?</label>
          <textarea placeholder="Max 150 words." name="Q6" id="Q6" rows="10" required></textarea>
        </fieldset>

        <fieldset>
          <label for="Q7">How will having Manchester Entrepreneurs as an asset specifically help your business?</label>
          <textarea placeholder="Max 150 words." name="Q7" id="Q7" rows="10" required></textarea>
        </fieldset>

        <fieldset>
          <label for="Q8">We can provide £2000 in grant funding to help you get started, is this going to be enough?</label>
          <textarea placeholder="Max 150 words." name="Q8" id="Q8" rows="10" required></textarea>
        </fieldset>

        <fieldset>
          <label for="Q9">Where do you see this business in five years time? How is your business scalable?</label>
          <textarea placeholder="Max 150 words." name="Q9" id="Q9" rows="10" required></textarea>
        </fieldset>

        <input type="hidden" name="list" value="1p"/>

        <div class="text-right">
          <button type="submit" class="pure-button button" disabled>Submit application</button>
        </div>
      </form>
      
      <a class="close" href ng-click="closeModal()">
        <i class="fa fa-times-circle"></i>
      </a>
  </div>
  <div class="modal-fade"></div>
</div>